# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# FastF1 cache
cache/
f1cache/
data/

# IDE
.idea/
.vscode/
*.swp

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Adhoc
*.ipynb

# Documentation
*.mp4